.call-container{
  padding:1em;
  font-size: 10px;
  display:block;
  
}

.call-container .call{
  border:solid black;
  border-radius: 10px;
  padding: 1em;
  margin:1em;
  height: 4em;
  display:flex;
  justify-content: space-between;
  
}

.call .small-text{
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}

.call-container .date-divider{
  text-align: center;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
}

.call-container .timestamp{
  
  color: rgba(0, 0, 0, 0.5);
  
  
}